/*
.v-application code {
    margin:10px;
    background-color: #fafafa;
    color: #555555;
    box-shadow: none;
}
*/

.v-window__container {
    padding: 10px;
}
.v-list-item.active i{
  color:#4d6d9a;
}

.v-list-item.active div.v-list-item__title.grey--text{
  color:#4d6d9a!important;
  font-weight: normal;
}

.theme--light.v-data-table thead tr:last-child th {
	border-bottom: 1px solid rgb(77, 109, 154);
	border-top: 1px solid rgb(77, 109, 154);
}
.theme--light.v-data-table thead tr th {
    color: rgb(77, 109, 154);
}

img{
  width:75%;
}
.imgmodal img{
  width:100%;
}

.app-table-of-contents {
  list-style-type: none !important;
  margin: 0;
  padding: 32px 0 0;
  text-align: left;
  width: 100%;
}
li a {
    border-left: 2px solid transparent;
    padding-left: 16px;
    text-decoration: none;
    transition: color .1s ease-in;
}



body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

h1{
  color:#4d6d9a;
  font-size:30px;
  margin-bottom: 0.5em;
  border-bottom: 2px solid;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

h2,h3,h4,h5,h6{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  color:#4d6d9a;
  margin: 0.5em 0 0.5em 0;
}


/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism&languages=julia */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

 pre.julia {
	 	margin-bottom: 20px;
    border-left: 5px solid #607D8B;
    color: #F9F2DE;
    background-color: #363537;
    box-shadow: inset 0px 0px 5px 5px #3a3939;
}


 }

 pre.output {
		 box-shadow: 0px 0px 5px 1px #979797;
		 margin-bottom: 20px;
		 border-left: 5px solid #64d8a8;
 }
 .v-application code {
	 	display:block;
     background-color: unset;
     color: #dcd3b9;
     box-shadow: unset;
		 font-weight: unset;
		 padding-left: 20px;
 }
 .v-application code:after, .v-application code:before, .v-application kbd:after, .v-application kbd:before {
 		content: "";
 		letter-spacing: unset;
 }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #95a5a6;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant
.token.deleted {
	color: #F7B32B;
}

.token.symbol{
	color: #6CD4FF;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #9ED99E;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #df6a73;
}

.token.operator{
	font-weight: normal;
}

.token.vtype{
  font-size: x-small;
	color: #828282;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.macro {
	color: #FFDE7C;
}
.token.control {
	color: #f39c12;
}

.token.function,
.token.class-name {
	color: #B6DB2F;
}

.token.vfunction{
	color: #B6DB2F;
}
.token.mfunction{
	color: #B6DB2F;
}
.token.pfunction{
	color: #B6DB2F;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
@font-face {
  font-family: 'firaCode';
	src: url('https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'firaCode';
	src: url('https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'firaCode';
	src: url('https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Retina.ttf');
	font-weight: retina;
	font-style: italic;
}

code,pre {
    font-family: firaCode !important;
    font-variant-ligatures: contextual;
}

x-screen x-row { font-variant-ligatures: contextual; }
